<% layout('../layouts/boilerplate') %>
<h1>This is the second right turn ----- Delete this later</h1>
<h2>You see a way through the bush. Do you want to take it?</h2>
<form method="post" action="/right/thirdY">
    <input type="submit" value="Yes">
  </form>
<form method="post" action="/right/thirdN">
    <input type="submit" value="No">
  </form>