<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Racer!</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
    <%- include('../partials/nav')%>
    <main>        
        <%- body %>
        
    </main>
 

    <script src="/javascripts/maze.js"></script>
</body>
</html>